backend/tests/services/salesforce/fixtures/sample_record_triggered_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
  <apiVersion>62.0</apiVersion>
  <description>Sample flow for tests</description>
  <processType>RecordTriggeredFlow</processType>
  <status>Active</status>
  <start>
    <locationX>0</locationX>
    <locationY>0</locationY>
    <connector>
      <targetReference>Update_Rating</targetReference>
    </connector>
    <object>Account</object>
    <recordTriggerType>CreateAndUpdate</recordTriggerType>
    <triggerType>RecordAfterSave</triggerType>
  </start>
  <recordUpdates>
    <name>Update_Rating</name>
    <label>Update Rating</label>
    <locationX>0</locationX>
    <locationY>0</locationY>
    <connector>
      <targetReference>Create_Task</targetReference>
    </connector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Industry</field>
      <operator>EqualTo</operator>
      <value>
        <stringValue>Healthcare</stringValue>
      </value>
    </filters>
    <inputAssignments>
      <field>Rating</field>
      <value>
        <stringValue>Hot</stringValue>
      </value>
    </inputAssignments>
    <object>Account</object>
  </recordUpdates>
  <recordCreates>
    <name>Create_Task</name>
    <label>Create Task</label>
    <locationX>0</locationX>
    <locationY>0</locationY>
    <inputAssignments>
      <field>Subject</field>
      <value>
        <stringValue>Follow up</stringValue>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>WhatId</field>
      <value>
        <elementReference>$Record.Id</elementReference>
      </value>
    </inputAssignments>
    <object>Task</object>
  </recordCreates>
  <decisions>
    <name>Check_Industry</name>
    <label>Check Industry</label>
    <defaultConnectorLabel>Default</defaultConnectorLabel>
    <rules>
      <name>Healthcare</name>
      <conditionLogic>and</conditionLogic>
      <conditions>
        <leftValueReference>$Record.Industry</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue>
          <stringValue>Healthcare</stringValue>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>Update_Rating</targetReference>
      </connector>
    </rules>
  </decisions>
  <variables>
    <name>varCurrentAccount</name>
    <dataType>SObject</dataType>
    <isCollection>false</isCollection>
    <isInput>true</isInput>
    <isOutput>false</isOutput>
    <objectType>Account</objectType>
  </variables>
  <formulas>
    <name>f_score</name>
    <dataType>Number</dataType>
    <expression>1 + 1</expression>
  </formulas>
  <assignments>
    <name>No_Op_Assignment</name>
  </assignments>
</Flow>
